/*Pagina*/
        
.Pagina {
    width: 68.750em;
    height: 100%;
    background-color: lemonchiffon;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/
    
header {
    background-color: darkorange;
    padding-top: 5em;
    position: relative;
    border-bottom: solid 0.125em black;
}

/*MENU*/
    
nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    flex-direction: row;
}
    
nav li {
    float: right;
    background-color: peachpuff;
    border-right: solid 0.063em black;
    height: 3em;
}
    
nav a {
    text-decoration: none;
    color: white;
    vertical-align: middle;
    margin-right: 1em;
    margin-left: 1em;
}
    
.menu {
    padding: 0.625em;
    text-align: right;
}

.menu-noticias {
    width: 25em;
    padding: 0.625em;
    text-align: right;
}

#menu375{
    display: none;
}

/*FOTO DE SUPER WEB*/
    
.logo {
    display: block;
    position: absolute;
    left: 9.375em;
    width: 24.188em;
    height: 16.875em;
    top: 0.625em;
    background: url("../img/logo.png") no-repeat;
    text-indent: -5625em;
}

.TituloWeb {
    display: none;
}

/*BUSCADOR*/
    
.buscador{
    display:flex;
    flex-direction: row;
    border-width: 0.063em;
    margin-left: 50em;
    padding: 0.313em;
    display: flex;
}
    
.buscar{
    border-radius: 0.313em 0em 0em 0.313em;
    border-width: 0.063em;
    height: 1.563em;
    background-color: lemonchiffon;
    display: flex;
}

::placeholder {
    margin-left: 2em;
    font-style: italic;
}

/*LUPA*/
    
.lupa {
    background-image: url('../img/lupa.png');
    height: 1.563em;
    width: 1.563em;
    background-color: rgb(223, 220, 195);
    background-repeat: no-repeat;
}
    
/*PARA TITULOS*/
    
.Formulario {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 6em;
    margin-left: 5em;
}

.centrado {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

/*Articulo*/

.principal{
	padding-top: 2em;
	display: flex;
	flex-direction: row;
}

.im-principal {
    margin-left: 0.313em;
}

.articulo1 {
    width: 40.625em;
}

.linea {
    width: auto;
    border-bottom: solid 0.063em black;
}

.titulo{
	font-family: "Arial Black";
    font-size: 2.5em;
    margin-left: 0.625em;
}
.subtitulo{
	font-family: Arial;
    font-size: 1.250em;
    margin-left: 0.625em;
}

.txt-fecha{
    font-size: 0.875em;
    margin-left: 0.625em;
}

.txt-articulo{
    font-size: 0.875em;
    margin-left: 0.625em;
}

/*Opinion*/

.opinion {
    padding-top: 2em;
    width: 40.625em;
}

.Noticia{
    position: relative;
    display: inline-block;
    text-align: center;
    margin-right: 0.625em;
}

.noticias{
    padding-top: 0.313em;
    position: relative;
    display: inline-block;
    text-align: center;
    margin-left: 0.750em;
}

.txt-superpuesto{
    position: absolute;
    top: 0.625em;
    left: 0.625em;
    margin-top: 5.5em;
    margin-left: -0.625em;
    color: white;
    background-color: rgba(227,230,228,0.5);
    font-weight: bold;
    text-decoration:none;
}

/*Noticia lateral*/

.h-lat {
    width: 100%;
	line-height: 2.5em;
	background-color: darkorange;	
	border-radius: 0.125em 0.125em 0.125em 0.125em;
	color: white;
	font-weight: bold;
	font-family: Arial;
    display: flex;
    padding-left: 0.625em;
}

.Lateral{
	width: auto;
	font-family: Arial;	
	border: 0.063em solid darkorange;
	margin-bottom: 1.563em;
}

.art_dch {
    margin-left: 2%;
    padding-top: 2em;
}

.art_inf{
    display: none;
}

.txt-lat{
	display:flex;
	flex-direction: row;
}

.img-lateral{
    margin-left: 0.625em;
    padding: 0.625em;
}

.txt_der{
	margin-left: 0.625em;
	font-size: 0.750em;
	display: flex;
	text-align: left;
	flex-direction: row;
	padding: 0.625em;
}

/*DIV DE DATOS PERSONALES*/
    
.datpersonales {
    margin-left: 15em;
    margin-right: 15em;
    width: auto;
    border-bottom: solid 0.125em darkorange;
}

label {
    display: block;
    margin-right: .1em;
    margin-top: 0.5em;
    text-align: left;
}

label>span {
    text-align: center;
    display: inline-block;
    width: 6em;
}

.dato {
    border: solid 0.125em darkorange;
    width: 35em;
}
    
.grupo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
    
#telefono {
    width: 15em;
}
    
.email {
    width: 2.8em;
    margin-left: 1em;
}
    
#email {
    width: 15em;
    margin-bottom: 1em;
}

/*DIV DE AFICIONES*/
    
.dataficiones {
    margin-left: 15em;
    margin-right: 15em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: solid 0.125em darkorange;
    width: auto;
}

.dataficiones_res {
    display: none;
}
    
#box {
    padding-right: 5em;
}      
    
select {
    border: solid 0.125em darkorange;
    width: 12em;
    margin-bottom: 1em;
}
    
.opcion {
    width: 2em;
    margin-right: 2em;
}
    
/*PARA EL TEXTAREA*/
        
.comentario {
    margin-left: 14em;
}

.comentario_res{
    display: none;
}
    
textarea {
    border: solid 0.125em darkorange;
    overflow: auto;
    margin-left: 1em;
    margin-bottom: 1em;
}
    
/*PARA EL BOTON ENVIAR*/
        
input[type=submit] {
    background-color: darkorange;
    color: white;
    width: 8em;
    margin-top: 1em;
    margin-left: 20em;
    margin-bottom: 1em;
}
    
/*FOOTER*/
        
footer {
    width: 100%;
    background-color: #7e7c7f;
    color: white;
}
    
#menufooter {
    text-decoration: underline;
    margin-left: 40em;
}
    
#menufooter li {
    display: inline;
    margin-right: 2em;
}
    
#menufooter a {
    color: white;
}
    
.pie-final {
    margin-bottom: 1em;
    margin-top: 2em;
    margin-left: 2em;
    color: white;
}
    
address {
    margin-bottom: 1em;
    margin-left: 2em;
    text-align: left;
    color: white;
}
/*REDES*/
    
#navlist {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 1em;
}
    
#navlist li {
    list-style: none;
    margin-right: 0.5em;
    margin-top: 0.5em;
    display: flex;
}
    
#navlist a {
    text-indent: 562.5em;
    height: 2.813em;
    width: 2.813em;
    display: block;
    overflow: hidden;
}
    
#facebook {
    left: 0em;
    width: 2.813em;
    background: url("../img/media.png") 0 0;
}
    
#twitter {
    left: 5.625em;
    width: 2.813em;
    background: url("../img/media.png") -2.813em 0;
}
    
#pinterest {
    left: 8.438em;
    width: 2.813em;
    background: url("../img/media.png") -5.625em 0;
}
    
#google {
    left: 11.250em;
    width: 2.813em;
    background: url("../img/media.png") -8.438em 0;
}    
    
#facebook a:hover {
    background: url("../img/media.png") 0 -2.813em;
}
    
#twitter a:hover {
    background: url("../img/media.png") -2.813em -2.813em;
}
    
#pinterest a:hover {
    background: url("../img/media.png") -5.625em -2.813em;
}
    
#google a:hover {
    background: url("../img/media.png") -8.438em -2.813em;
}